body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-size: 16px;
}

header {
  background-color: #00ADD8;
  color: white;
  padding: 10px;
  margin: 0;
}

header div {
  max-width: 1390px;
  margin: 0 auto;
}

header a {
  color: white;
}

header p {
  padding-left: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#content {
  display: grid;
  grid-template-columns: 70% 1fr;
  position: relative;
}

side {
  position: fixed;
  height: 100vh;
  max-width: 700px;
  top: 0;
  right: 0;
  background-color: white;
  overflow-y: scroll;
  box-shadow: -1px 0 4px rgba(0, 0, 0, 0.1);
  transition: width 300ms ease-in;
  z-index: 1000;
}

side>div {
  display: relative;
  padding: 0.25rem 1rem;
}

side code {
  overflow-x: scroll;
  background-color: #c4c4c4;
  color: black;
  border-radius: 0.25rem;
  display: block;
  margin-top: 1.5rem;
  padding: 0.25rem;
}

side button {
  position: sticky;
  padding: 3px;
  top: 10px;
  left: 90%;
  z-index: 10;
  border: none;
  border-radius: 0.25rem;
}

overlay-side {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

main {
  padding: 0 1.5rem;
  max-width: 1390px;
}

hr {
  margin: 4rem 5rem;
  height: 0.25rem;
  border-radius: 0.125rem;
  background-color: black;
}

.endpoints {
  list-style: none;
  padding: 0;
}

.endpoints li {
  margin: 0 1.75rem 1.5rem;
  display: grid;
  grid-template-columns: 90% 1fr;
  grid-gap: 5px;
}

.endpoints li code {
  padding: 0.75rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 0.25rem;
  font-family: monospace;
  cursor: pointer;
}

.endpoints li button {
  background-color: #00ADD8;
  color: black;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  transition: background-color 300ms ease-in;
}

.endpoints li svg {
  fill: black;
  width: 1em;
  height: 1em;
}

.endpoints code svg {
  vertical-align: middle;
  fill: white;
  float: right;
}

#spinner {
  opacity: 0;
  display: none;
  margin: 0 auto;
  transition: opacity 500ms ease-in;
  animation: spin 1s linear infinite;
}

#spinner.htmx-request {
  display: block;
  opacity: 1
}

#spinner .htmx-request {
  display: block;
  opacity: 1
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

#modal-text-copied {
  position: fixed;
  top: 15px;
  left: 40%;
  padding: 0.5rem;
  background-color: gray;
  color: white;
  text-align: center;
  font-weight: 300;
  transition: display 100ms ease-in;
}
